extends layout

block content
  h1= title
  #ui
     .stick
     .fire
       - for(var i=1;i<=40;i++)
             .burn.heat
       - for(var j=1;j<=40;j++)
             .burn
  #bible 哥林多前书10：10 <br />盗贼来，无非是偷窃、杀害、毁坏，我来了，是要叫羊得生命，并且得的更丰盛！
